# Variables in python
1. variable is memory allocation to a value
2. examples are `name="shivaji' ` `age=26`

In [2]:
name="shivaji"
age=26
salary=10000.65
print(name)
print(age)
print(salary)

shivaji
26
10000.65

# key points to define variables
1. variables does not start with digit
2. variables does not allowed special characters
3. do not use keywords as a variables

In [3]:
1name="shivaji"
print(name)

SyntaxError: invalid decimal literal (1641896195.py, line 1)

In [4]:
first@name="shivaji"
print(first@name)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (4005403094.py, line 1)

In [5]:
first_name="vikas"
print(first_name)

vikas

In [6]:
for = "shivaji"
print(for)

SyntaxError: invalid syntax (1139325609.py, line 1)

In [7]:
for1="shivaji"
print(for1)

shivaji